* {
	margin: 0;
	padding: 0;
	border: 0;
}


nav{
    background-color: navy;
    color: #ffffff;
    padding: 2%;
    text-decoration: underline;
    font-size: 18px;
}

.nav-list{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

.mod1{
    padding: 2%;
    text-align: center;
}

main{
    text-align: center;
    padding: 20%;
}

img{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1% 0 0 1%;
}


#footer{
    background-color: #d3cfcf;
    text-align: center;
    padding: 3%;
    font-size: 1.2em;
    position: relative;
}

